.Background {
  background-image: url("./assets/Battle.png");
  background-size: 600px 520px;
  background-repeat: no-repeat;

  width: 600px;
  height: 520px;
  position: relative;
  left: calc((100vw - 600px) / 2);
}
.dropdown_text {
  font-size: 30px;
}
.dropdown {
  left: 36vw;
  position: relative;

  margin: auto;
  width: 30%;

  padding: 20px;
}
